<ion-content [fullscreen]="true" class="ion-padding camera-page">
  <ion-button expand="full" (click)="takePhoto()" class="capture-button">
    📷 Tomar Foto
  </ion-button>

  <div *ngIf="capturedImage" class="image-container">
    <ion-img [src]="capturedImage" [ngStyle]="{'filter': finalFilter}"></ion-img>
  </div>

  <div *ngIf="capturedImage" class="filters-container">
    <ion-item>
      <ion-label>🌞 Brillo</ion-label>
      <ion-range min="0" max="2" step="0.1" [(ngModel)]="brightness" (ionChange)="updateFilter()"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label>🎨 Contraste</ion-label>
      <ion-range min="0" max="3" step="0.1" [(ngModel)]="contrast" (ionChange)="updateFilter()"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label>🌈 Saturación</ion-label>
      <ion-range min="0" max="3" step="0.1" [(ngModel)]="saturate" (ionChange)="updateFilter()"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label>👻 Opacidad</ion-label>
      <ion-range min="0" max="1" step="0.1" [(ngModel)]="opacity" (ionChange)="updateFilter()"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label>🔎 Desenfoque</ion-label>
      <ion-range min="0" max="10" step="0.5" [(ngModel)]="blur" (ionChange)="updateFilter()"></ion-range>
    </ion-item>
  </div>

  <div *ngIf="capturedImage" class="buttons-container">
    <ion-button expand="full" color="success" (click)="saveImage()" class="save-button">
      💾 Guardar Imagen
    </ion-button>
    <ion-button expand="full" color="danger" (click)="deleteImage()" class="delete-button">
      🗑️ Eliminar Imagen
    </ion-button>
  </div>

  <canvas #imageCanvas hidden></canvas>
</ion-content>

