<ion-content class="ion-padding">
  <ion-card>
    <img [src]="doctor?.photo || 'assets/default-avatar.png'" alt="Foto del Doctor">
    <ion-card-header>
      <ion-card-title>{{ doctor?.name }}</ion-card-title>
      <p>⭐ {{ doctor?.rating }}/5</p>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Ubicación:</strong> {{ doctor?.clinic_location }}</p>
      <p><strong>Experiencia:</strong> {{ doctor?.experience }} años</p>
      <p><strong>Teléfono:</strong> {{ doctor?.phone }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Aquí va el calendario -->
  <div style="margin-bottom: 20px;">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <!-- Aquí va el mapa -->
  <iframe
  [src]="safeMapUrl"
  width="100%"
  height="250"
  style="border:0; border-radius: 10px; margin-top: 10px;"
  allowfullscreen
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>


  <ion-button expand="full" color="primary" (click)="agendarCita()">Agendar Cita</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToProfile()">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>