<ion-header>
  <ion-toolbar>
    <ion-title>Doctores Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let doctor of doctors" (click)="verDoctor(doctor.userId)" detail>
      <ion-avatar slot="start">
        <img [src]="doctor.photo || 'assets/default-avatar.png'" alt="Foto del Doctor">
      </ion-avatar>
      <ion-label>
        <h2>{{ doctor.name }}</h2>
        <p>⭐ {{ doctor.rating }}/5</p>
        <p class="doctor-specialty">{{ doctor.specialty || 'Especialidad no especificada' }}</p>
      </ion-label>
      <ion-button fill="outline" slot="end">Ver Detalles</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>